@model HubEI.Models.ViewModels.BOProjectViewModel
@{
    Layout = "~/Views/Shared/_Layout_BO.cshtml";
}
<link href="~/css/general-table.css" rel="stylesheet" type="text/css">

<div class="container">

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Projectos</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="#addProjectModal" onclick="clearProjectForm();" class="btn btn-success" data-toggle="modal"><i class="fa fa-fw fa-plus-circle"></i> <span>Adicionar Projecto</span></a>
                    <a href="#deleteProjectModal" onclick="deleteProjects();" id="btn-remove-selected" class="btn btn-danger" data-toggle="modal"><i class="fa fa-fw fa-minus-circle"></i> <span>Eliminar Seleccionados</span></a>
                </div>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Project.Title)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Project.ProjectDate)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Project.IdStudent)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Project.IdCompany)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Project.IdProjectType)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Project.IsVisible)</th>
                    <th>Acções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                <tr>
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="cb_@project.IdProject" name="projects" value="1">
                            <label for="checkbox1"></label>
                        </span>
                    </td>
                    <td>@Html.DisplayFor(modelItem => project.Title)</td>
                    <td>@Html.DisplayFor(modelItem => project.ProjectDate)</td>
                    <td>@Html.DisplayFor(modelItem => project.IdStudentNavigation.Name)</td>
                    <td>@Html.DisplayFor(modelItem => project.IdCompanyNavigation.Name)</td>
                    <td>@Html.DisplayFor(modelItem => project.IdProjectTypeNavigation.Description)</td>
                    <td>@Html.DisplayFor(modelItem => project.IsVisible)</td>
                    <td>
                        <a href="#editProjectModal" id="edit_@project.IdProject" onclick="editProject(this.id);" class="edit" data-toggle="modal"><i class="fa fa-edit custom-tooltip" data-toggle="tooltip" title="Editar"></i></a>
                        <a href="#deleteProjectModal" id="@project.IdProject" onclick="deleteProject(this.id);" class="delete" data-toggle="modal"><i class="fa fa-trash " data-toggle="tooltip" title="Eliminar"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <!-- PAGINATION
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
            -->
    </div>
</div>
<div id="addProjectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width:125%;">
            <form asp-action="Project" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Projecto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Project.Title"></label>
                        <input class="form-control" asp-for="Project.Title" />
                        <span asp-validation-for="Project.Title" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.Description"></label>
                        <input class="form-control" asp-for="Project.Description" />
                        <span asp-validation-for="Project.Description" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Report"></label>
                        <input class="form-control" asp-for="Report" />
                        <span asp-validation-for="Report" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.ProjectDate"></label>
                        <input class="form-control" asp-for="Project.ProjectDate" />
                        <span asp-validation-for="Project.ProjectDate" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IsVisible"></label>
                        <input asp-for="Project.IsVisible" type="checkbox" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IdProjectType"></label>
                        @Html.DropDownListFor(model => model.Project.IdProjectType, Model.ProjectTypes, "-- Tipo de Projecto --")
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IdStudent"></label>
                        @Html.DropDownListFor(model => model.Project.IdStudent, Model.Students, "-- Estudante Autor --")
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IdCompany"></label>
                        @Html.DropDownListFor(model => model.Project.IdCompany, Model.Companies, "-- Empresa Associada --")
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Adicionar">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="editProjectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width:125%;">
            <form asp-action="EditProject" method="post"  enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Projecto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit-project-id" asp-for="Project.IdProject" />
                    <input type="hidden" id="edit-project-report-backup" asp-for="Project.Report"/>
                    <div class="form-group">
                        <label asp-for="Project.Title"></label>
                        <input class="form-control" id="edit-project-title" asp-for="Project.Title" />
                        <span asp-validation-for="Project.Title" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.Description"></label>
                        <input class="form-control" id="edit-project-description" asp-for="Project.Description" />
                        <span asp-validation-for="Project.Description" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Report"></label>
                        <input asp-for="Report" id="edit-project-report" type="file" />
                        <span asp-validation-for="Report" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.ProjectDate"></label>
                        <input asp-for="Project.ProjectDate" id="edit-project-date" />
                        <span asp-validation-for="Project.ProjectDate" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IsVisible"></label>
                        <input asp-for="Project.IsVisible" type="checkbox" id="edit-project-isVisible" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IdProjectType"></label>
                        @Html.DropDownListFor(model => model.Project.IdProjectType, Model.ProjectTypes, "-- Tipo de Projecto --", new { @class = "form-control", @id = "edit-project-type" })
                        <span asp-validation-for="Project.IdProjectType" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IdStudent"></label>
                        @Html.DropDownListFor(model => model.Project.IdStudent, Model.Students, "-- Estudante Autor --", new { @class = "form-control", @id = "edit-project-student" })
                        <span asp-validation-for="Project.IdStudent" class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IdCompany"></label>
                        @Html.DropDownListFor(model => model.Project.IdCompany, Model.Companies, "-- Empresa Associada --", new { @class = "form-control", @id = "edit-project-company" })
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Editar">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="deleteProjectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Projecto(s)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <p>Tem a certeza que pretende eliminar o(s) registo(s)?</p>
                    <p class="text-warning"><small>Atenção! Esta ação é irreversível. </small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" onclick="eliminatePendingProjects()" class="btn btn-danger" value="Eliminar">
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["HasAlert"] != null)
{
    @if ((string)TempData["HasAlert"] == "true")
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span id="alert-message">@TempData["AlertMessage"]</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="close-alert" aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}