@model HubEI.Models.ViewModels.BOStudentViewModel
@{
    Layout = "~/Views/Shared/_Layout_BO.cshtml";
    var minDate = DateTime.Today.AddYears(-70).ToString("yyyy-MM-dd");
    var maxDate = DateTime.Today.AddYears(-18).ToString("yyyy-MM-dd");
}
<link href="~/css/general-table.css" rel="stylesheet" type="text/css">

<div class="container">

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Estudantes</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="#addStudentModal" onclick="clearStudentForm(); setFormValidations();" class="btn btn-success" data-toggle="modal"><i class="fa fa-fw fa-plus-circle"></i> <span>Adicionar Estudante</span></a>
                    <a href="#deleteStudentModal" onclick="deleteStudents();" id="btn-remove-selected" class="btn btn-danger" data-toggle="modal"><i class="fa fa-fw fa-minus-circle"></i> <span>Eliminar Seleccionados</span></a>
                </div>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Students.FirstOrDefault().StudentNumber)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Students.FirstOrDefault().Name)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Students.FirstOrDefault().Email)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Students.FirstOrDefault().IdAddressNavigation.IdDistrictNavigation)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Students.FirstOrDefault().BirthDate)</th>
                    <th>@Html.DisplayNameFor(modelItem => Model.Students.FirstOrDefault().IdStudentBranchNavigation.Description)</th>
                    <th>Acções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Students)
                {
                    <tr class="clickable-tr" data-toggle="modal" href="#editStudentModal" id="edit_@student.IdStudent" onclick="editStudent(this.id)">
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="cb_@student.IdStudent" name="students" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>@Html.DisplayFor(modelItem => student.StudentNumber)</td>
                        <td>@Html.DisplayFor(modelItem => student.Name)</td>
                        <td>@Html.DisplayFor(modelItem => student.Email)</td>
                        <td>@Html.DisplayFor(modelItem => student.IdAddressNavigation.IdDistrictNavigation.Description)</td>
                        <td>@Html.DisplayFor(modelItem => student.BirthDate)</td>
                        <td>@Html.DisplayFor(modelItem => student.IdStudentBranchNavigation.Description)</td>
                        <td>
                            <a href="#editStudentModal" id="edit_@student.IdStudent" onclick="editStudent(this.id); setFormValidations();" class="edit" data-toggle="modal"><i class="fa fa-edit custom-tooltip" data-toggle="tooltip" title="Editar"></i></a>
                            <a href="#deleteStudentModal" id="@student.IdStudent" onclick="deleteStudent(this.id);" class="delete" data-toggle="modal"><i class="fa fa-trash " data-toggle="tooltip" title="Eliminar"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- PAGINATION
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
            -->
    </div>
</div>
<div id="addStudentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width:125%;">
            <form asp-action="Student" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Estudante</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Student.Name"></label>
                        <input class="form-control" asp-for="Student.Name" required pattern="^[aA-zZ\s]*$"/>
                        <div class="invalid-feedback">
                            Por favor insira um nome válido!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.StudentNumber"></label>
                        <input class="form-control" style="width:7em;" maxlength="9" onkeyup="fillStudentEmail();" id="student-number" asp-for="Student.StudentNumber" type="text" required pattern="^[0-9]{9}$"/>
                        <div class="invalid-feedback">
                            Por favor insira um número de estudante válido!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.IdStudentBranchNavigation"></label>
                        @Html.DropDownListFor(model => model.Student.IdStudentBranch, Model.Branches, "-- Seleccione o Ramo --", new { @class = "form-control", @id = "student-branch", required = "required"})
                        <div class="invalid-feedback">
                            Por favor insira um ramo válido!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.Email"></label>
                        <input type="email" class="form-control disabled-input" id="student-email" style="width:14.65em;text-align:right" value="@@estudantes.ips.pt" asp-for="Student.Email" required/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.BirthDate"></label>
                        <input class="form-control" id="student-birthdate" asp-for="Student.BirthDate" required min=@minDate max=@maxDate/>
                        <div class="invalid-feedback">
                            Por favor insira uma data de nascimento válida!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.Telephone"></label>
                        <input class="form-control" style="width:7em;" maxlength="11" asp-for="Student.Telephone" required pattern="^[0-9]{9,11}$"/>
                        <div class="invalid-feedback">
                            Por favor insira um número de telefone válido!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.Address1"></label>
                        <input class="form-control" asp-for="Address.Address1" required />
                        <div class="invalid-feedback">
                            É necessário inserir uma rua!
                        </div>

                        <div class="form-group" style="display:inline-block">
                            <label asp-for="Address.PostalCode"></label>
                            <input class="form-control" style="width:7em;" asp-for="Address.PostalCode" required pattern="^[0-9]{4}-[0-9]{3}" />
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="form-group" style="display:inline-block;margin-left:5%;">
                            <label asp-for="Address.Door"></label>
                            <input class="form-control" style="width:4em;" asp-for="Address.Door" required />
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="form-group" style="display:inline-block;margin-left:5%;">
                            <label asp-for="Address.Locality"></label>
                            <input class="form-control" style="width:12em;" asp-for="Address.Locality" required />

                        </div>
                        <div class="invalid-feedback" style="margin-top:-2%">
                            Por favor insira uma morada válida!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.IdDistrictNavigation"></label>
                        @Html.DropDownListFor(model => model.Address.IdDistrict, Model.Districts, "-- Seleccione o Districto --", new { @class = "form-control", @id = "address-district", required = "required" })
                        <div class="invalid-feedback">
                            Por favor insira um districto válido!
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Adicionar">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="editStudentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width:125%;">
            <form asp-action="EditStudent" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">Editar Estudante</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit-student-id" asp-for="Student.IdStudent" />
                    <div class="form-group">
                        <label asp-for="Student.Name"></label>
                        <input class="form-control" id="edit-student-name" asp-for="Student.Name" />
                        <div class="invalid-feedback">
                            Por favor insira um nome válido!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.StudentNumber"></label>
                        <input class="form-control" style="width:7em;" maxlength="9" onkeyup="fillStudentEmail();" id="edit-student-number" asp-for="Student.StudentNumber" type="text" required pattern="^[0-9]{9}$" />
                        <div class="invalid-feedback">
                            Por favor insira um número de estudante válido!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.IdStudentBranchNavigation"></label>
                        @Html.DropDownListFor(model => model.Student.IdStudentBranch, Model.Branches, "-- Seleccione o Ramo --", new { @class = "form-control", @id = "edit-student-branch", required = "required"})
                        <div class="invalid-feedback">
                            Por favor insira um ramo válido!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.Email"></label>
                        <input class="form-control disabled-input" id="edit-student-email" style="width:14.65em;text-align:right" value="@@estudantes.ips.pt" asp-for="Student.Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.BirthDate"></label>
                        <input type="date" class="form-control" id="edit-student-birthdate" asp-for="Student.BirthDate" min="@minDate max=@maxDate/>
                        <div class="invalid-feedback">
                            Por favor insira uma data de nascimento válida!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.Telephone"></label>
                        <input class="form-control" id="edit-student-telephone" style="width:7em;" maxlength="11" asp-for="Student.Telephone" required pattern="^[0-9]{9,11}$" />
                        <div class="invalid-feedback">
                            Por favor insira um número de telefone válido!
                        </div>
                    </div>
                    <input type="hidden" id="edit-student-address-id" asp-for="Student.IdAddress" />
                    <div class="form-group">
                        <label asp-for="Address.Address1"></label>
                        <input class="form-control" id="edit-student-address" asp-for="Address.Address1" required />
                        <div class="invalid-feedback">
                            É necessário inserir uma rua!
                        </div>
                        <div class="form-group" style="display:inline-block">
                            <label asp-for="Address.PostalCode"></label>
                            <input class="form-control" id="sedit-student-postalcode" style="width:7em;" asp-for="Address.PostalCode" required pattern="^[0-9]{4}-[0-9]{3}" />
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="form-group" style="display:inline-block;margin-left:5%;">
                            <label asp-for="Address.Door"></label>
                            <input class="form-control" id="edit-student-door" style="width:4em;" asp-for="Address.Door" required />
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="form-group" style="display:inline-block;margin-left:5%;">
                            <label asp-for="Address.Locality"></label>
                            <input class="form-control" id="edit-student-locality" style="width:12em;" asp-for="Address.Locality" required />
                        </div>
                        <div class="invalid-feedback" style="margin-top:-2%;">
                            Por favor insira uma morada válida!
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.IdDistrictNavigation"></label>
                        @Html.DropDownListFor(model => model.Address.IdDistrict, Model.Districts, "-- Seleccione o Districto --", new { @class = "form-control", @id = "edit-address-district", required = "required" })
                        <div class="invalid-feedback">
                            Por favor insira um districto válido!
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Editar">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="deleteStudentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Estudante(s)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <p>Tem a certeza que pretende eliminar o(s) registo(s)?</p>
                    <p class="text-warning"><small>Atenção! Esta ação é irreversível. </small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" onclick="eliminatePendingStudents()" class="btn btn-danger" value="Eliminar">
                </div>
            </form>
        </div>
    </div>
</div>




@if (TempData["HasAlert"] != null)
{
    @if ((string)TempData["HasAlert"] == "true")
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span id="alert-message">@TempData["AlertMessage"]</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="close-alert" aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}