@model HubEI.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc;
@using Newtonsoft.Json

<link rel="stylesheet" href="~/css/project.css" />
<script src="~/js/project.js"></script>

<link rel="stylesheet" href="/css/fm.tagator.jquery.css" />
<script src="/js/fm.tagator.jquery.js"></script>

<div class="container">

    <h1 style="margin-left:1.5%;">Submitted Projects List</h1>
    <button style="font-size:15px;margin-left:1.5%;" class="btn d-block btn-primary" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
        Filters
    </button>
    <div class="collapse search-form col-lg-7" id="filters">
        <div class="card" style="padding:0%;">
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">Project Name</label>
                    <input autocomplete="off" class="form-control" type="text" id="search-query" name="q" value="@Context.Request.Query["q"]">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Technologies</label>
                    <br />
                    <input type="text" class="form-control" name="technologies" id="input-technologies" value="@Context.Request.Query["technologies"]" />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Evaluation</label>
                    <br />
                    <select class="form-control marks-filter" id="marks_range" name="marks" value="@Context.Request.Query["marks"]">
                        <option value="0_20">0 - 20 </option>
                        <option value="0_5">0 - 5 </option>
                        <option value="6_10">6 - 10 </option>
                        <option value="11_15">11 - 15 </option>
                        <option value="16_20">16 - 20 </option>
                    </select>
                </div>
                <button href='javascript:;' onclick="filterSearch();" class="search-filter-button btn btn-primary float-lg-right">Apply Filters</button>
            </div>

        </div>
    </div>
    @if (Model.Projects.ToList().Count == 0)
    {
        <div class="col-lg-12" style="margin-top:9%;">
            <div>
                <h1 style="margin-left:33%;">No results found.</h1>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="padding-bottom:3%;">
            @foreach (Project project in Model.Projects)
            {
                if (project.IsVisible)
                {

                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" style="margin-top:3.5%;">
                        <div class="card h-100 shadow">
                            <img class="card-img-top" src="~/images/InstitutoPolitecnicoSetubal.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    @Html.ActionLink(@project.Title, "Project", "Project", new { project_id = project.IdProject }, null)
                                </h4>
                                <h4 class="card-sub-title">
                                    <b>Author: </b>
                                    @Html.ActionLink(@project.IdStudentNavigation.Name, "Project", "Project", new { project_id = project.IdProject }, null)
                                </h4>

                                @if (project.ProjectAdvisor.Count > 0)
                                {
                                    <b>Mentors: </b>
                                }

                                @foreach (var mentor in project.ProjectAdvisor)
                                {
                                    if (project.ProjectAdvisor.Count == 1 || mentor.Equals(project.ProjectAdvisor.Last()))
                                    {
                                        <span>
                                            @Html.ActionLink(mentor.IdSchoolMentorNavigation.Name, "Mentor", "Project", new { mentor_id = mentor.IdSchoolMentor.ToString() }, null)
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            @Html.ActionLink(mentor.IdSchoolMentorNavigation.Name, "Mentor", "Project", new { mentor_id = mentor.IdSchoolMentor.ToString() }, null) e
                                        </span>
                                    }
                                }
                                <br />
                                <b>Company: </b>
                                @project.IdCompanyNavigation.Name
                                <p><b>Date: </b>@project.ProjectDate.ToString("dd/MM/yyyy")</p>
                                <p class="card-text">@project.Description</p>
                            </div>
                            @*<div class="card">
                                    <h3 class="card-header">Tecnologias Usadas</h3>
                                    <div class="card-body" id="technologiesBody_@project.IdProject" onload="renderTechnologies(@project.IdProject, @JsonConvert.SerializeObject(project.ProjectTechnology))">
                                    </div>
                                </div>*@
                        </div>
                    </div>
                }
            }
        </div>
    }

    <!-- Pagination -->
    @*<ul class="pagination justify-content-center" style="margin-top:3%;">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>*@

</div>
