@model HubEI.Models.ViewModels.LoginViewModel

<div class="container" style="margin-top:-3%;">
    <div class="row">
        <div class="col-lg-3">
            <div class="portlet bordered">
                <img src="~/images/user.png" class="img-responsive" />
                <div class="profile-usertitle">
                    <h1 class="profile-name">@Model.mentorViewModel.Mentor.Name</h1>
                    <h4 class="profile-email">@Model.mentorViewModel.Mentor.Email</h4>
                    <h4 class="profile-email" > Average Grade: @Model.mentorViewModel.AverageGradeGiven </h4>
                </div>
                
            </div>
        </div>
        <div class="col-lg-9 projects">
            <div class="light bordered">
              <h1 class="profile-name">Projects</h1>
                <div class="portlet-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Author</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Grade</th>
                                <th>Views</th>
                                <th>Downloads</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Project project in Model.mentorViewModel.Projects)
                            {
                                <tr>
                                    <td>@project.IdStudentNavigation.Name</td>
                                    <td> @Html.ActionLink(@project.Title, "Project", "Project", new { project_id = project.IdProject }, null)</td>
                                    <td>@project.ProjectDate.ToShortDateString()</td>
                                    <td>@project.Grade</td>
                                    <td>@project.Views</td>
                                    <td>@project.Downloads</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

    </div>
</div>