@model HubEI.Models.ViewModels.LoginViewModel
@{
}


<div class="container">
    <br />
    <div class="row align-content-center align-items-center">
        <div class="col-md-4">
            <div class="portlet align-items-center light bordered">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive" alt="">
                <div class="profile-usertitle">
                    <h1 class="profile-name">@Model.mentorViewModel.Mentor.Name</h1>
                    <h4 class="profile-email">@Model.mentorViewModel.Mentor.Email</h4>
                </div>
            </div>
        </div>
        <div class="projects col-md-8">
            <div class="light bordered">
              <h1 class="profile-name">Project List</h1>
                <div class="portlet-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Student Name</th>
                                <th>Title</th>
                                <th>Start Date</th>
                                <th>Nota</th>
                                <th>Views</th>
                                <th>Downloads</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Project project in Model.mentorViewModel.Projects)
                            {
                                <tr>
                                    <th scope="row">@project.IdProject</th>
                                    <td>@project.IdStudentNavigation.Name</td>
                                    <td>@project.Title</td>
                                    <td>@project.ProjectDate.ToShortDateString()</td>
                                    <td>@project.Grade</td>
                                    <td>@project.Views</td>
                                    <td>@project.Downloads</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <h2 class="grade"> Average Grade: @Model.mentorViewModel.AverageGradeGiven </h2>
                </div>
            </div>
        </div>
    </div>
</div>