@model HubEI.Models.ViewModels.LoginViewModel

@using Microsoft.AspNetCore.Mvc;
@using Newtonsoft.Json

@{
    var technologyJSON = JsonConvert.SerializeObject(Model.Project.ProjectTechnology);
    var mentorsJSON = JsonConvert.SerializeObject(Model.Project.ProjectAdvisor);


    string getFileSize(double fileSize)
    {
        if (fileSize >= 0.01)
            return fileSize.ToString("0.##") + " MB";
        else
            return (fileSize * 1024).ToString("0.##") + " KB";
    }

    string shortenFileName(string filename)
    {
        if (filename.Length <= 47)
            return filename;
        else
        {
            var split = filename.Split(".");
            var extension = "." + split[split.Length - 1];

            return filename.Substring(0, 41) + "..." + extension;
        }
    }
}
<link rel="stylesheet" href="~/css/project.css" />
<script src="~/js/project.js"></script>

@*https://blackrockdigital.github.io/startbootstrap-blog-post/*@
@*https://blackrockdigital.github.io/startbootstrap-shop-item/*@

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="~/images/InstitutoPolitecnicoSetubal.jpg" />
                <div class="card-body">

                    <h1>@Model.Project.Title</h1>
                    <h3><a href="#">@Model.Project.IdStudentNavigation.Name</a> - @Model.Project.IdProjectTypeNavigation.Description, @Model.Project.ProjectDate.ToString("MMMM yyyy")</h3>
                    <p class="card-text">@Model.Project.Description</p>
                </div>
            </div>

            <div class="card mt-4">
                <h2 class="card-header">Relatório  
                <a asp-controller="Project" class="float-lg-right" style="font-size:14px;margin-top:0.5%;" asp-action="DownloadReport" asp-route-projectId=@Model.Project.IdProject>Transferir Relatório</a></h2>
                <div class="card-body" style="height: 1000px;">
                    <embed style="height: 100%; width: 100%" src="@Url.Action("GetProjectReport", "Project", new { project_id = Model.Project.IdProject } )" />
                </div>
            </div>
            <br />
        </div>

        <div class="col-md-4">
            <div class="card my-4">
                <h3 class="card-header">Estatísticas</h3>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    @Model.Project.Views visualizações
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    @Model.Project.Downloads transferências
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <h3 class="card-header">Tecnologias Usadas</h3>
                <div class="card-body" id="technologiesBody" onload="renderTechnologies(0, @technologyJSON)">
                </div>
            </div>

            <div class="card my-4">
                <h3 class="card-header">Docentes Orientadores</h3>
                <div class="card-body" id="mentorsBody" onload="renderMentors(@mentorsJSON)">
                </div>
            </div>

            <div class="card my-4">
                <h3 class="card-header">Empresa Associada</h3>
                <div class="card-body">
                    @if(Model.Project.IdCompanyNavigation != null)
                    {
                        <a href="#">@Model.Project.IdCompanyNavigation.Name</a>
                    }
                    else
                    {
                        <p>Sem empresa associada.</p>
                    }
                </div>
            </div>

            <div class="card my-4">
                <h2 class="card-header">Anexos</h2>
                <div class="card-body">

                    @for(var i = 0; i < Model.Project.ProjectDocument.Count; i++)
                    {
                    <p><a asp-controller="Project" asp-action="DownloadAttachment" asp-route-projectId=@Model.Project.IdProject asp-route-documentId=@Model.Project.ProjectDocument.ElementAt(i).IdProjectDocument>@shortenFileName(Model.Project.ProjectDocument.ElementAt(i).FileName) (@getFileSize(Model.Project.ProjectDocument.ElementAt(i).FileSize))</a></p>
                    }
                </div>
            </div>
        </div>

    </div>
</div>